
<footer class="bg-dark text-white text-center m0" >
    <div class="container p-4">
        <!-- Section: Social media -->
        <h5>Follow us on Social Medias</h5>

        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/LienManagementSolutions/" role="button">
                <img src="../BootStrap/Icons/facebook.svg" alt="FacebookIcon">
            </a>

            <!-- Insta -->
            <a class="btn btn-outline-light btn-floating m-1" href=https://www.instagram.com/lmsproject/?hl=en#" role="button">
                <img src="../BootStrap/Icons/instagram.svg" alt="Instagram Icon">
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/lms_project" role="button">
                <img src="../BootStrap/Icons/twitter.svg" alt="Twitter Icon">
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/lmsproject/about/" role="button">
                <img src="../BootStrap/Icons/linkedin.svg" alt="LinkedIn Icon">
            </a>

        </section>
    </div>
</footer>